$rojo: #e10600;
$blanco: #ffffff;
$beige: #FFEEE4;
$naranja_oscuro: #CE6D39;
$naranja: #F17F42;
$negro: #000000;
$toro_rosso: #469bff;
$mercedes: #00d2be;
$redbull: #1e41ff;
$alfa_romeo: #9b0000;
$haas: #bd9e57;
$renault: #fff500;
$ferrari: #dc0000;
$mclaren: #ff8700;
$racing_point: #f596c8;
$facebook: #3b5998;
$twitter: #00acee;