<nav class="main-navbar">
    <div class="nav-header">
        <img src="../../assets/images/logo.png" alt="">
        <i id="toggle" class="fas fa-bars"></i>
    </div>
    <ul id="main-ul">
        <li><a href="#">Circuitos</a></li>
        <li><a href="#">Constructores</a></li>
        <li><a href="#">Pilotos</a>
            <div class="contenedor-flex">
                <div class="header"> <b>Temporada 2019</b>
                    <hr>
                </div>
                <ul>
                    <li>
                        <a href="#"> <span class="toro-rosso">&#8205;</span> Alexander <b>ALBON</b></a>
                    </li>
                    <li>
                        <a href="#"> <span class="mercedes">&#8205;</span> Valtteri <b>BOTTAS</b></a>
                    </li>
                    <li>
                        <a href="#"> <span class="redbull">&#8205;</span> Pierre <b>GASLY</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="alfa-romeo">&#8205;</span> Antonio <b>GIOVINAZZI</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="haas">&#8205;</span> Romain <b>GROSJEAN</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="mercedes">&#8205;</span> Lewis <b>HAMILTON</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="renault">&#8205;</span> Nico <b>HULKENBERG</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="williams">&#8205;</span> Robert <b>KUBICA</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="toro-rosso">&#8205;</span> Daniil <b>KVYAT</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="ferrari">&#8205;</span> Charles <b>LECLERC</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="haas">&#8205;</span> Kevin <b>MAGNUSSEN</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="mclaren">&#8205;</span> Lando <b>NORRIS</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="racing-point">&#8205;</span> Sergio <b>PEREZ</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="alfa-romeo">&#8205;</span> Kimi <b>RAIKKONEN</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="renault">&#8205;</span> Daniel <b>RICCIARDO</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="williams">&#8205;</span> George <b>RUSSELL</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="mclaren">&#8205;</span> Carlos <b>SAINZ</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="racing-point">&#8205;</span> Lance <b>STROLL</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="redbull">&#8205;</span> Max <b>VERSTAPPEN</b> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="ferrari">&#8205;</span> Sebastian <b>VETTEL</b> </a>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="#">Temporadas</a></li>
        <li><a href="#">Ránkings</a></li>
    </ul>
</nav> <!-- Fin de navbar -->
