/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'F1-Black';
    src: url('../src/assets/fonts/Formula1-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'F1-Bold';
    src: url('../src/assets/fonts/Formula1-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'F1-Regular';
    src: url('../src/assets/fonts/Formula1-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'F1-Wide';
    src: url('../src/assets/fonts/Formula1-Wide.ttf') format('truetype');
}

@import 'app/scss_utils/mixins';
@import 'app/scss_utils/variables';
html {
    @include box-sizing(border-box);
    height: 100%;
    width: 100%;
}

*,
*:after,
*:before {
    @include box-sizing(inherit);
}

body {
    box-sizing: inherit;
    width: 100%;
    margin: 0 auto;
    background-color: #f4f2f0;
}