<div class="footer">
    <div class="column license"> Este sitio web no es oficial y no está asociado en ningún modo con el grupo de compañías de la Fórmula 1. F1, FORMULA ONE, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP, GRAND PRIX y marcas relacionadas son marcas registradas de Formula One Licensing
        B.V. </div>
    <div class="column">
        <div class="media">
            <div class="title"> Redes Sociales </div>
            <div class="content facebook"> <i class="fab fa-facebook-square"></i> <a href="#">Síguenos en Facebook</a> </div>
            <div class="content twitter"> <i class="fab fa-twitter"></i> <a href="#">Síguenos en Twitter</a> </div>
        </div>
    </div>
    <div class="column quicklinks">
        <div class="title"> Accesos directos </div>
        <a href="#">Circuitos</a>
        <a href="#">Constructores</a>
        <a href="#">Pilotos</a>
        <a href="#">Temporadas</a>
        <a href="#">Ránkings</a>
    </div>
</div>
<div class="copyright">
    <p><a href="">&copy; Juan Antonio Sánchez Luque Todos los derechos reservados</a></p>
</div>