@import '../../scss_utils/variables';
@import '../../scss_utils/mixins';
h1,
h3 {
    font-family: 'F1-Bold';
}

.contenedor {
    max-width: 1500px;
    margin: 0 auto;
}

.boton {
    text-decoration: none;
    background-color: $naranja;
    padding: .5rem;
    border: 3px solid $naranja_oscuro;
    color: $blanco;
    border-radius: 10px;
    font-family: 'F1-Regular';
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url(../../../assets/images/hero.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex: 1;
    color: $blanco;
    .contenido-hero {
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex: 1 0 100%;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        height: calc(100vh - 5rem);
        h1 {
            width: 100%;
            text-align: center;
            font-size: 3rem;
        }
        .slogan {
            position: relative;
            margin-bottom: 1.5rem;
            z-index: 0;
            .slogan-author {
                color: $naranja;
            }
            @include for-desktop-up {
                .slogan-author {
                    position: absolute;
                    top: 1.5rem;
                    right: 0;
                }
            }
        }
    }
}

// GP Boxes
.box-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
    .box {
        box-shadow: 10px 10px 51px -10px rgba(0, 0, 0, 0.39);
        border: 3px solid $naranja;
        border-radius: 10px;
        padding: 1rem;
        margin: .5rem 0 1rem 0;
        background-color: $blanco;
        @include for-desktop-up {
            margin: .5rem 1rem 1rem 1rem;
        }
        .gp-name {
            font-family: 'F1-Bold';
            font-size: 1.6rem;
            margin: .2rem;
        }
        .circuit-container {
            display: flex;
            align-items: center;
            margin: .2rem;
            img {
                margin-right: .5rem;
            }
        }
        .circuit-name {
            font-family: 'F1-Regular';
            font-size: 1rem;
        }
        .round {
            font-family: 'F1-Regular';
            font-size: .8rem;
            margin-top: .5rem;
            padding-bottom: .2rem;
            border-bottom: 1px solid lighten($naranja, 20);
        }
        .results {
            font-family: 'F1-Regular';
            margin-top: 1.5rem;
            table {
                margin-top: 1rem;
                margin-left: auto;
                margin-right: auto;
            }
            table,
            td {
                padding: .3rem;
                border: 2px solid lighten($naranja, 20);
                border-collapse: collapse;
                a {
                    color: $negro;
                    text-decoration: none;
                }
                a:hover {
                    color: $naranja;
                    text-decoration: underline;
                }
            }
        }
        .boton-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1rem 0 0 0;
            align-items: center;
        }
    }
    .info {
        background-color: lighten($naranja, 35);
        flex: 1 0 50%;
        .gp-name {
            font-family: 'F1-Bold';
        }
        .contenido p {
            font-family: 'F1-Regular';
            line-height: 1.5rem;
            span {
                margin-left: .5rem;
                text-transform: uppercase;
                color: $naranja_oscuro;
            }
        }
        .contenido {
            border-bottom: 2px solid $naranja_oscuro;
        }
        .next-gp-container {
            span {
                text-transform: uppercase;
            }
            .countdown {
                font-family: 'F1-Bold';
                @include for-desktop-up {
                    display: flex;
                    justify-content: space-around;
                }
                .label {
                    padding: .2rem;
                    margin-top: .5rem;
                    border-top: 1px solid $naranja_oscuro;
                    text-align: center;
                }
                .counter {
                    font-size: 2rem;
                    text-align: center;
                }
                .countdown-box {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    margin: 1rem;
                }
            }
        }
    }
    @include for-desktop-up {
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
        .gp-name {
            text-transform: uppercase;
        }
        .circuit-name {
            text-transform: uppercase;
        }
    }
    @include for-phone-only {
        .secundary {
            display: none;
        }
    }
}